@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.desktop-page {
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #f8f8f8; */
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 30px; /* Adjust logo size */
}

.list-links {
  display: flex;
  align-items: center;
}

.list-links a {
  margin-right: 20px;
  text-decoration: none;
  font-family: "Manrope", sans-serif;

  font-weight: 500;
}

.list-links a:hover {
  color: white; /* Optional: Add hover effect */
}

.signIn-button {
  /* background-color: #f33a56; */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.signIn-button:hover {
  background-color: #0056b3;
}
.logo {
  display: flex;
}
.logo p {
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: medium;
}

.carosule {
  background-color: black;
}
.carosule h1 {
  color: white;
  font-family: Axifoma;
  font-size: 500;
  /* position: relative; */
}
